
  *::before,
  *::after {
    box-sizing: border-box; }
  
  html {
    display: block;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  
    scroll-behavior: smooth;
  scroll-snap-align: center;
  
 

 }
  
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
   
    text-align: left;
  background: #362d27;

overflow-x: hidden;
}

    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }

h2{
  font-size: 30px;
}
    /* header start */
    
    header{
      top: 0;
      position: sticky;
      z-index: 10;
      background-color:transparent;

      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    /* scroll-header */
    
     .scroll-header  {
    background-color: #362d27;
    z-index: 1000;
   
  }  

    /* scroll-header */
    /* navbar */
    .header > .navbar {
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    } 
    
    /* nav-logo */
    .navbar  > .nav-logo .logo-img{
      height: 40px;
margin-right:8px;
    }

    .navbar  > .nav-logo > h2   {
      display: flex;
      color: white;
      font-size: 28px;
      font-weight: 700;
      padding-left: 20px;
      
    }
    /* nav-links */
    .navbar >.nav_links >.nav-menu{
      display: flex;
      justify-content: space-between;
      
    }

    .navbar >.nav_links >.nav-menu > li{
      margin:20px ;
      
      
    }
    .navbar.nav-menu  a{
      color: white;
      font-weight:800;

    }
    /* links active */
    .navbar >.nav_links >.nav-menu > li a.links_active{
      color:#ce6d06 ;
    }
    /* nav profile */
    .navbar > .nav_profile{
      
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar > .nav_profile  input{
      position: absolute;
      width: 43%;
      height: 40px;
      top: 110px;
      padding-left: 10px;
      right: 20%;
      outline: none;
      border: none;
      border-bottom: 1px solid #ce6d06;
      font-size: 22px;
      color:  #ce6d06;
      background-color: transparent;
      visibility: hidden;
    }
    
    .navbar > .nav_profile  input.nav-active{
      display: block;
      visibility:  visible;

    }
    
    
    .navbar > .nav_profile  input::placeholder{
      color:  #ffffff;

    }
    
     /* nav profile  end*/
    
    
    .navbar > .nav_profile img{
      height: 30px;
      margin-right: 30px;
      margin-top: 10px;
      cursor: pointer;
    }
    
    .navbar > .nav_profile > .nav_button {
      margin-left: 10px;
      
    }
    .navbar > .nav_profile > .nav_button button {
      background-color: #ce6d06; 
      color: white;
      padding: 9px 30px;
      font-size: 17px;
      line-height: 30px;
      font-weight: 700;
      letter-spacing: .5px;
      transition: 0.3s ease-in;
      border-radius: 100px;
      outline: none;
      border: none;
      cursor: pointer;
    }
    
    
    .navbar > .nav_profile > .nav_button  button:hover{
      border: 2px solid #f9ca99;
    }
    /* header end */
    /* section start*/
    .nav_search_input img{
      height: 70px;
    }
    
    .scroll-header .nav_search_input img{
  height: 35px;
 
  border-radius: 50px;

}

header nav a{
  font-size: 16px;
  color: white;
  font-weight: 600;

}
nav li a.active_nav_link{
color:#ce6d06;
}
    /* section end */
    /* header end */
    /* header end */




.slider{
  height: 900px;
  display:block;
  width: 100%;
  overflow: hidden;
 
}

.slide{
  display: none;
  inset: 0;
}
.active-slide{
  display: block;
}
.info_content{

  position: absolute;
  top: 40%;
  left: 4%;


}
.info_content  h1{
  font-size: 50px;
  font-weight: 800;
  color:#ce6d06 ;
}
.info_content p{
  width: 50%;
  font-size: 20px;
  color: #f8f9fa;
}
.info_content button{
  padding: 18px 40px;
  background-color: #ce6d06;
  color:white;
  width: 13%;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}
.info_content button:hover{
  border: 3px solid #ce6d06 ;
  background: transparent;
  color: #ce6d06;
}
.slide img{
  position: absolute;
  top: 0;
  height: 900px;
  width: 100%;
  object-fit: cover;
}
.info-background{
  top: 0px;
  position: absolute;
  height: 900px;
  background-color: #00000092;
  z-index: 1;
  opacity: 9;
  width: 100%;
}
.slide-controll{
position: absolute;
top: 40%;
height: 50px;
padding: 10px;
border-radius: 50px;
font-size: 18px;
font-weight: bold;
color: white;
background-color: #ce6d06;
border: none;
cursor: pointer;
z-index: 109;
}
  

 .slide-prev{

  left: 1%;
}
 .slide-next{
 top: 41%;
  left: 97%;

}
.slide-controll:hover{
  border:3px solid #ce6d06;
  color: #ce6d06;
  background-color: transparent;
}
#about{
  height: 500px;
  max-width: 1200px;
 
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}
.about-container .about-images{
  display: flex;
  justify-content: space-between;
align-items: center;

 
}
 .slides-about-image > img{
  height: 340px;
  margin: 10px;
  border-radius: 5px;
 transition: all 1s;

}


.slides-about-image > img:hover{
position: relative;
transform: translateY(-30px);
}


.about-text{
  width: 49%;
}
.about-text h5{
  color: #afafaf;
}
.about-text h2{
  color: #ce6d06;
}
.about-text p{
  color: #c9c9c9;
  width: 95%;
}
.about-text  button{
  background-color: #ce6d06;
  padding: 10px 25px;
  color: white;
  border: none;
  border-radius: 50px;

}
.about-text button:hover{
  border: 2px solid #ce6d06;
  background-color: transparent;
  color: #ce6d06;
  cursor: pointer;
}

#products{
  display: block;
  height: 700px;
  background-color:#2a2420 ;
  
}
.products-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products-heading{
  padding-top: 30px;
  text-align: center;

}
.products-heading span{
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 600;
}
.products-heading h2{
  font-size: 27px;
  color: white;

}
.products-heading  h2{
  color: #ce6d06;
}
.products{
  display: flex;
  margin: 10px;

}
.products img{
  transition: all 3s;
  height: 230px;
}
.products-item{
  border-radius: 10px;
  margin: 20px;
  height: 410px;
  background-color:#362d27;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-img{
  width: 100%;
}
.products-img img{
  width: 100%;
  border-radius: 10px 10px 0  0;
  object-fit: cover;
  transition: all 3s;
}
.products-img{
  overflow: hidden;
}
.products-img img:hover{
  transform:  scale(3);
}
.products-text{
  padding: 20px;
  position: relative;
  bottom :10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-text h2{
  color: rgb(230, 230, 230);
  font-weight: 700;

}
.products-text a  h2:hover{
  color: #ce6d06;
}
.products-text span{
  font-weight: 500;
  color: rgb(184, 184, 184);
}
#services{
  height: 700px;
display: flex;
justify-content: center;
align-items: center;
}

.services{
  display: flex;
  padding: 10px 30px;
  align-items: center;
}
.services-prop{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.services-detail span{
  color: rgb(159, 159, 159);
  font-size: 20px;
}

.services-detail h2{
  color: white;
  font-size: 30px;
}


.services-detail  p{
  width: 80%;
  color: rgb(173, 173, 173);
  font-weight: 450;
}
.services-detail  button{
  padding: 8px 20px;
  background-color: #ce6d06;
  border-radius: 60px;
  color: white;
  border: none;
}
.services-detail  button:hover{
  border: 2px solid #ce6d06;
  background-color: transparent;
  color: #ce6d06;
}
.services-prop .item{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
.services-prop .item h2{
  color: rgb(173, 173, 173);
}
.services-prop .item span{
  color: rgb(216, 216, 216);
  font-weight: 460;
}

/* gallery */

#gallery{
  background-color: #201c18;
height: 600px;
display:flex ;
justify-content: center;
align-items: center;
flex-direction: column;
}


.gallery{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 grid-gap: 22px;

}
.gallery .image img{
height: 150px;
width: 250px;

}
.gallery .image img{
  display: block;
  overflow: hidden;
}

.gallery_heading{
  text-align: center;
  margin: 20px;
}

.gallery_heading span{
  color: white;
}
.gallery_heading h2{
  color: #ce6d06;
}

#testimonals{
  height: 800px;

}
#testimonal{
  display:flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonal_heading{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonal_heading h6{
  color: white;
}
.testimonal_heading h3{
  color: #ce6d06;
}
#testimonal_prof{

  width: 500px;
  background-color: #201c18;
  margin: 10px;
  border-radius: 10px;
}
#testimonal_prof blockquote q{
  color: white;
  text-align:center;
}

#testimonal_prof blockquote q::before {
  font-size: 50px;
  color:#ce6d06;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
#testimonal_prof blockquote q::after {
  font-size: 50px;
  color:#ffffff;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.testimonals_button{
  margin-top: 30px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.testimonals_button button{
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #ce6d06;
  border: none;
 border-radius: 20px;
 display: flex;
 justify-content: center;
 align-items: center; 
}
.testimonals_button button:hover{
  background: none;
  border: 2px solid #ce6d06;
  color: #ce6d06;
  cursor: pointer;
}

#testimonal_prof{
  padding: 10px;
  height: 450px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#testimonal_prof .t-img{
margin-top: 5px;
}
#testimonal_prof .t-img img{
height: 100px;
width: 100px;
border-radius: 10px;
object-fit: cover;
border-color: #ce6d06;
border: 2px solid #ce6d06;
border-top-left-radius:  20px;
}
#testimonal_prof .t-heading h2{
color: #ce6d06;
font-size: 25px;
}
#blogs{
  height: 780px;
  background-color: #201c18;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousal__card{
  display: flex;
justify-content: center;
align-items: center;
width: 90%;
}
.blog__Card img{
  height: 300px;
  width: 500px;
  border-radius:8px 8px  0  0 ;
transition: all 3s;
}
.blog__Card img:hover{
  transform: scale(2);
}
.blog__Card .blog_img{
  height: 300px;
  width: 500px;
  overflow: hidden;
}
.blog__Card{
  background-color: #2a2420;
width: 500px;
margin: 20px;
height: 490px;
border-radius: 8px;
}
.blog__Card .blog_text{
  margin-left: 14px;
}
.blog__Card .blog_text .blog-bottom-info{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 18px;
  margin-left: 10px;
 
}
.blog__Card .blog_text h3 a{
  color: #ce6d06;
  font-size: 20px;
}
.blog__Card .blog_text span{
  color: #ffffff;
}


.blog__Card .blog_text .blog-bottom-info button{
  height: 30px;
width: 90px;
background-color: #ce6d06;
color: white;
border: none;
cursor: pointer;

}

.blog__Card .blog_text .blog-bottom-info button:hover{
  border:2px solid #ce6d06;
  background:none;
  color: #ce6d06;

}
.blog__Card .blog_text .blog-bottom-info input[type="date"]{
  color: #ffffff;
  background-color: #ce6d06;
  border: none;
  outline: none;
}

.carousal_heading  {
text-align: center;
}
.carousal_heading h4{
color: #afafaf;

}
.carousal_heading h1{
  color: #ce6d06;
}
.more__blogs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.more__blogs span{
  color: white;
}
.more__blogs a{
  color: #ce6d06;
  font-size: 15px;
  font-weight: bold;
}



/* foooter */

.footer{
  height: 300px;
  width: 100%;
background-color: #2a2420;
}

.footer-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.profile-info .logo{
  display: flex;
}
.profile-info .logo img{
  height: 50px;
}
.footer-detail h2{
  color: #ffffff;
}
.profile-info .profile__info__text  span{
  color: #afafaf;
}.profile-info{
  width: 70%;
  padding: 10px;
  font-weight: 600;
}

.footer-detail > .get_in_touch{
display: flex;
flex-direction: column;
padding: 10px;
}
.footer-detail > .get_in_touch span{
  color: #afafaf;
  font-weight: 600;
}
.newsletter span{
  color: #afafaf;
  font-weight: 600;
}
.newsletter_input{
  margin-top: 10px;
  display: flex;
}
.newsletter_input input{
  height: 40px;
  width: 80%;
  background-color:#362d27;
  border: none;
  outline: none;
  padding-left: 20px;
  color:#ce6d06;
}
.newsletter_input button{
  height: 42px;
  width: 100px;
  position: relative;
background-color:#ce6d06 ;
  right: 4px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

}
.footer-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.footer-1 span{
  color:#c9c9c9;
  font-weight: 500;
}
.footer-1 span:first-child{
  color: #ce6d06;
}

/* services */
.services-prop img{
  height:30px;
  width: 30px;
}
.services-prop .item{
  display: flex;
  justify-content: center;
  align-items: center;
}




